.dialogs {
    display              : grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItem {
    padding: 10px;
}

.dialogsItem a.active {
    color:rgb(57, 219, 17)
}

/* .dialog{

} */

.messages {
    padding: 10px;
}

/* .message{

} */